// variable color
$color-black-0: #29303b; // default
$color-black-1:#003845;
$color-black-2: #14171c;
$color-white-0: #fff; //default
$color-red-0:#ec5252;
$color-red-1: #521822;
$color-red-2:#992337;
$color-purple: #6e1a52;
$color-gray-1: rgba(20,23,28,.05);
$color-gray-2: #a1a7b3;
$color-gray-3: #cacbcc;
$color-gray-4: #686f7a;
$color-gray-5:#F7F8FA;
$color-gray-6:#dedfe0;
$color-gray-7:#e8e9eb;
$color-black-light:#505763;
$color-white-cream:#f2f3f5;
$color-black-dark: rgba(20,23,28,.1);
$color-yellow: #F4C150;
$color-blue:#007791;
$color-trans:transparent;

// variable font-size
$fs-0: 15px; //default
$fs-1: 13px;
$fs-2: 20px;
$fs-3: 24px;
$fs-4: 32px;
//Còn 1 font-size: 36px;
$fs-5: 40px;

//variable margin
$mg-0: 2px;
$mg-1: 10px;
$mg-2: 25px;
$mg-3: 32px;
//variable border-radius
$border-radius: 2px;

//variable padding
$pd-0: 5px; //default
$pd-1: 10px;
$pd-2: 20px;
$pd-3: 24px;
$pd-4: 32px;

//variable line-height
$line-height-0: 1.43; //default


//variable font-weight
$fw-normal: normal;
$fw-bold-0: 600;
$fw-bold-1: 700;
$fw-bold: bold;


//break points
$breakpoints:(
    'extra-large': 1200px,
    'large' : 992px,
    'medium' : 768px,
    'small' : 576px,
    'extra-small' : 500px,
)